.container {
  padding: 4rem;
}

.keyboard-container label {
  font-weight: bold;
  border: 1pt solid rgba(0, 0, 0, 0.2);
  background-color: rgba(140, 140, 140, 0.1);
  border-radius: 4pt;
  padding: 0 0.5rem;
  box-shadow: 0 1pt 3pt rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.keyboard-container label:hover {
  box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.5);
  filter: brightness(120%);
}

.gradient-bar {
  border-radius: 4pt;
}

.backend-status-stopped {
  color: orangered;
}

.backend-status-running {
  color: greenyellow;
}