---
Checks: >
  *,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  readability-identifier-naming,
  readability-const-return-type

# Based on google style guide
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: "lower_case"

  - key: readability-identifier-naming.VariableCase
    value: "lower_case"

  # We use `aNy_CasE` since const variables should be snake_case and const values
  # should be UPPER_SNAKE_CASE which configuartion is not possibly yet.
  - key: readability-identifier-naming.ConstantCase
    value: "aNy_CasE"

  - key: readability-identifier-naming.MacroDefinitionCase
    value: "UPPER_CASE"

HeaderFilterRegex: ".*"
FormatStyle: file
